.monthC {
  text-align: center;
  width: 100px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  padding-top: 5px;
  line-height: 12px;

  letter-spacing: 0.02em;

  color: #000000;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.month-block {
  padding-left: 2rem;
}
